In [1]:
import pandas as pd
wine = pd.read_table("winequality-red.csv",sep=";")
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [2]:
wine.shape

(1599, 12)

### 1. In which of the columns are there any null values?

In [3]:
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [4]:
wine[(wine.quality==5) | (wine.quality==6)].head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
wine[(wine.quality==5) | (wine.quality==6)].shape

(1319, 12)

### 2. Percentage of wine samples with quality 5 and 6? (correct to two decimal places) *

In [6]:
a=1319/1599 * 100
a
round(a,2)

82.49

### 3. What is the total range of values of the pH column? (Hint: range = largest value-smallest value)(Correct to two decimal places) *

In [7]:
ans = wine.describe().pH

In [8]:
pd.DataFrame([ans])
ans.head()
ans['max']-ans['min']

1.2699999999999996

In [9]:
(4.010000 - 2.740000)

1.2699999999999996

In [10]:
round(ans['max']-ans['min'],2)

1.27

### 4. What proportion of the wine samples with quality greater than 6 have sulphate content greater than 0.65? *

In [11]:
wine[(wine.quality>6)].shape

(217, 12)

In [12]:
wine[(wine.quality>6) & (wine.sulphates > 0.65)].shape

(161, 12)

In [13]:
b=(161/217) * 100
b

74.19354838709677

In [14]:
wine[(wine.quality>6)].describe()["total sulfur dioxide"]

count    217.000000
mean      34.889401
std       32.572238
min        7.000000
25%       17.000000
50%       27.000000
75%       43.000000
max      289.000000
Name: total sulfur dioxide, dtype: float64

### 6. In the previous question, what would be the variance?

In [15]:
import statistics as st
st.variance(wine["total sulfur dioxide"])

1082.1023725325826

### 5. What is the standard deviation of the total sulfur content where quality of the wine samples is greater than 6? *

In [16]:
st.stdev(wine["total sulfur dioxide"])

32.89532447829908

In [17]:
32.89532447829908 ** 2

1082.1023725325826

### 7. What are the respective values of MSE and MAE for linear regression on test data?

In [18]:
from sklearn.model_selection import train_test_split

feature_col = wine.drop("quality",axis=1)
feature_col.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [19]:
target=wine.quality
target.head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [20]:
X_train,X_test,y_train,y_test=train_test_split(feature_col,target,test_size=0.2,random_state=1)

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

test1= LinearRegression()
test1.fit(X_train,y_train)
y_pred1=test1.predict(X_test)

MAE1=mean_absolute_error(y_pred1,y_test)
MSE1=mean_squared_error(y_pred1,y_test)
print(MAE1 , MSE1)

0.4748298528763035 0.38307198158142863

### 8. What is the MSE value for Support Vector Machine ?(Use kernel="rbf" , C=0.1 and degree=4) *

In [22]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

test2=SVR(kernel='rbf',C=0.1,degree=4)
test2.fit(X_train,y_train)

y_pred2=test2.predict(X_test)

mean_squared_error(y_pred2,y_test)

0.5348423418310989

### 9. What is the predicted quality of the third wine sample(at index 2) of test set when using Logistic Regression with all the default values? *

In [23]:
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
75,8.8,0.41,0.64,2.2,0.093,9.0,42.0,0.99860,3.54,0.66,10.5
1283,8.7,0.63,0.28,2.7,0.096,17.0,69.0,0.99734,3.26,0.63,10.2
408,10.4,0.34,0.58,3.7,0.174,6.0,16.0,0.99700,3.19,0.70,11.3
1281,7.1,0.46,0.20,1.9,0.077,28.0,54.0,0.99560,3.37,0.64,10.4
1118,7.1,0.39,0.12,2.1,0.065,14.0,24.0,0.99252,3.30,0.53,13.3
...,...,...,...,...,...,...,...,...,...,...,...
890,7.2,0.34,0.24,2.0,0.071,30.0,52.0,0.99576,3.44,0.58,10.1
146,5.8,0.68,0.02,1.8,0.087,21.0,94.0,0.99440,3.54,0.52,10.0
1551,7.1,0.67,0.00,2.3,0.083,18.0,27.0,0.99768,3.44,0.54,9.4
1209,6.2,0.39,0.43,2.0,0.071,14.0,24.0,0.99428,3.45,0.87,11.2
1220,10.9,0.32,0.52,1.8,0.132,17.0,44.0,0.99734,3.28,0.77,11.5

In [24]:
X_test1 = X_test.reset_index()
X_test1.drop("index",axis=1,inplace=True)
X_test1.head()
X_test1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,8.8,0.41,0.64,2.2,0.093,9.0,42.0,0.99860,3.54,0.66,10.5
1,8.7,0.63,0.28,2.7,0.096,17.0,69.0,0.99734,3.26,0.63,10.2
2,10.4,0.34,0.58,3.7,0.174,6.0,16.0,0.99700,3.19,0.70,11.3
3,7.1,0.46,0.20,1.9,0.077,28.0,54.0,0.99560,3.37,0.64,10.4
4,7.1,0.39,0.12,2.1,0.065,14.0,24.0,0.99252,3.30,0.53,13.3

In [25]:
from sklearn.linear_model import LogisticRegression

test3=LogisticRegression()
test3.fit(X_train,y_train)

test3.predict(X_test1[X_test1.index==2])

/home/sanchit/snap/jupyter/common/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

array([6])

In [26]:
y_pred3=test3.predict(X_test)
y_pred3

array([5, 5, 6, 6, 6, 6, 6, 5, 4, 5, 6, 5, 5, 6, 5, 5, 6, 6, 6, 5, 6, 6,
       5, 6, 5, 6, 6, 6, 5, 5, 5, 6, 5, 6, 5, 6, 5, 5, 6, 5, 6, 5, 5, 6,
       5, 6, 5, 5, 5, 6, 5, 6, 6, 5, 5, 6, 6, 6, 4, 5, 6, 5, 5, 5, 5, 5,
       7, 5, 6, 6, 5, 6, 5, 6, 6, 5, 6, 5, 5, 6, 6, 5, 5, 5, 6, 5, 5, 6,
       6, 6, 5, 6, 5, 6, 6, 5, 6, 5, 5, 6, 5, 5, 5, 5, 5, 5, 6, 5, 6, 5,
       6, 5, 6, 6, 5, 6, 5, 5, 5, 5, 5, 6, 6, 5, 5, 5, 6, 5, 6, 6, 6, 5,
       6, 5, 6, 6, 5, 6, 5, 5, 5, 5, 5, 5, 6, 6, 6, 5, 6, 6, 6, 6, 5, 5,
       6, 6, 6, 6, 6, 5, 6, 6, 5, 5, 6, 6, 5, 5, 5, 6, 5, 6, 5, 5, 6, 5,
       5, 5, 5, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 5,
       5, 5, 6, 6, 6, 5, 6, 6, 5, 5, 6, 6, 5, 6, 5, 6, 5, 5, 5, 5, 6, 6,
       5, 5, 5, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 6, 5, 5, 6, 5, 6, 6, 6, 6,
       6, 5, 5, 6, 6, 5, 5, 5, 5, 5, 6, 6, 6, 5, 5, 5, 5, 6, 6, 6, 6, 5,
       5, 6, 6, 5, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 5, 7, 6, 6, 5, 5, 6,
       5, 5, 5, 6, 5, 6, 5, 5, 6, 6, 5, 6, 5, 5, 6, 6, 5, 6, 5, 5, 5, 6,
       6, 5, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6])

### 10. Tick the correct values for the following on the test data, when training is done with a random forest regressor. (Use number of estimators as 200,max depth as 9, number of jobs=-1 and random state as 1) *

In [27]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

test4=RandomForestRegressor(n_estimators=200 , max_depth=9,n_jobs=-1,random_state=1)
test4.fit(X_train,y_train)

y_pred4=test4.predict(X_test)

MAE4 = mean_absolute_error(y_pred4,y_test)
MSE4 = mean_squared_error(y_pred4,y_test)

print(MAE4 , MSE4)

0.43722887858737447 0.3371074237186369